extends templates/template
append config
  -titulo = "Clientes"
  -paginaActual= "clientes"

block main
  h1 Clientes
  p Este es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivas
  Este es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivas
  Este es mi primer parrafo con sus respectivas?

  p Este es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivas
  Este es mi primer parrafo con sus respectivasEste es mi primer parrafo con sus respectivas
  Este es mi primer parrafo con sus respectivas?


block aside
  h2 Siguenos en Facebook
  a(href="http:/facebook.com" target="_blank") Seguir
