-var sitio= "Curso HTML5 Desde Cero"
-var titulo= "Proyecto "
-var descripcion= "Este es el proyecto final del curso HTML5 desde Cero de Escuela digital"
-var paginas=["inicio","nosotros","servicios","clientes","contacto"]
-var paginaActual = "inicio"
